<div class="container_message">
    <div class="container_data">
        <div class="content_data_elements">
            <div class="content_check">
                <i class="bi bi-check-circle-fill"></i>
            </div>
            <div class="content_info">
                <p>Informacion guardada con éxito</p>
            </div>
        </div>
        <div class="content_button">
            <button mat-button class="buttons" (click)="closeView()">
                Cerrar
              </button>
        </div>
    </div>
</div>