
.container{
    border-radius: 20px;
}
.dialog-container{
    display: flex;
    flex-direction: column;
    
}
.dialog-title {
    
    height: 20vh;
    padding: 20px;
    width: 100%;
}

.title {
    margin: 20px 0;
    text-align: center;
    line-height: 10vh;
    color: rgb(103, 80, 164);
}
.nombre, .checkbox-container{
    display: flex;
    justify-content: center;
    text-align: center;
    justify-items: center;
    width: 100%;
    padding: 10px;
    margin: auto;
}

.checkbox-container{
    flex-direction: column;
}
.full-width{
    width: 90%; 
}

.checkbox-inner-container{
    width: 100%;
    margin: 10px 0 20px 0;
}
.label-Activo{
    width: 100%;
    font-size: 20px;
    margin: 20px 0 10px 0;
}
.dialog-actions{
    margin-top: 30px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.button-container{
    background-color: rgb(103, 80, 164);
    border-radius: 3px;
}
.button-container-cancelar{
    background-color: rgb(45, 55, 72);
    border-radius: 3px;
}
.container-table{
    height: 400px;
    width: 550px;
    max-width: 100%;
    overflow: auto;
}