<div class="main_container">
  <div class="form-container">
    <div class="header_form_content">
      <img src="../../../assets/images/Logo-Grupo-Viamatica.png" alt="">
      <p class="title">Registro Restaurante</p>
    </div>
    <form [formGroup]="form" class="form" (ngSubmit)="onSubmit()">
      <div class="container_wrapper">
        <div class="input-group" id="ruc">
          <mat-label>RUC</mat-label>
          <input matInput type="text" formControlName="ruc" [maxlength]="13">
        </div>
        
        <div class="input-group" id="nombre">
          <mat-label>Nombre</mat-label>
          <input matInput type="text" formControlName="nombre" [maxlength]="100">
        </div>
      </div>

      <div class="input-group" id="correo">
        <mat-label>Correo</mat-label>
        <input matInput type="text" formControlName="correo" [maxLength]="100">
      </div>

      <div class="input-group" id="telefono">
        <mat-label>Telefono</mat-label>
        <input matInput type="text" formControlName="telefono" [maxlength]="10">
      </div>
      
      <div class="input-group" id="direccion">
        <mat-label>Direccion</mat-label>
        <input matInput type="text" formControlName="direccion" [maxlength]="100">
      </div>

      <div class="container_wrapper">
        <div class="input-group">
          <mat-label>Imagen</mat-label>
          <input type="file" id="image" (change)="onFileSelected($event)" formControlName="logotipo">
        </div>
        <div class="input-group">
          <mat-label>Contraseña</mat-label>
          <input type="password" id="password" matInput formControlName="contrasena" [maxlength]="30">
        </div>
      </div>
      <button class="sign">Registrarse</button>
    </form>

  </div>
</div>

<div class="loader_content" *ngIf="load">
  <app-loader ></app-loader>
</div>